body{
    margin: 0%;
    margin-right: 0%;
    position: relative;
    z-index: 1;
}
body::before{
    content: "";
    background-image: url("../image/beach.jpg");
    background-size: cover;
    position: fixed;
    width: 100%; 
    height: 100%;  
    opacity: .4; 
    z-index: -1;
}
h1{
   padding: 0.5rem 0em;
   font-family: 'Sansita Swashed', cursive;
    color: #142850;
    font-weight: 600;
    font-size: 4rem;
    
}
h3{
    
    padding: 0.5rem 0em ;
    font-family: 'Sansita Swashed', cursive;
    color: #142850;
    font-size: 2rem;
}
#headings h4{
    font-family: 'Sansita Swashed', cursive;
    text-align: left;
    color: #142850;
    padding-top: 2%;
}

/* ***************************Title section***************************** */

.row{
    padding: 10% 0% 1%;
    margin: 0;  
}


#firstSection,#thirdSection{
    width: 100%;
    height:fit-content;
    position: relative;
    z-index: 1;
   
}
#firstSection::before,#thirdSection::before{
    content: "";
    background-color: #1ef8fc;
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .3; 
    z-index: -1;
}

#headings{
    text-align: center;
    padding-top: 5% ;
    margin: 0 auto;
}
/* ***************************Second section***************************** */
#secondSection,#footerSection{
    width: 100%;
    background-color: #fff;
    height: fit-content;
    color:#142850;
    padding: 0 10% 10%;
}
.sec2{
    /* background-image: linear-gradient(to right,#142850,#0898f8,#142850); */
    /* background-color: #ffe78f; */
   
    padding: 0;
}

.sec2 h3{
    text-align: center;
    color:#142850;
    font-family: 'Lora', serif;
}
p{
    font-family: 'Lora', serif;
    font-size: 2rem;
}
/* ***************************Third section***************************** */
#thirdSection{
    padding: 3% 10% ;
    text-align: center;
}
h4{
    font-family: 'Lora', serif;
    font-size: 2rem; 
    color:#142850;
}
.column{
    background-color: #e5e8eb;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.card{
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}
.card p{
    font-size: 20px;
}
.button2 {
    background-image: linear-gradient(aqua,rgb(171, 250, 250));
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: black;
  }
  .button2:hover{
    background-image: linear-gradient(rgb(0, 181, 194),rgb(113, 247, 247));
    color: rgb(8, 8, 8);
  }

/* ***************************Footer Section************************ */
#footerSection{
    text-align: center;  
    padding: 2% ; 
    
    
}
i{
    font-size: 2rem; 
    color:#142850;
    padding:2%;
}



/* ***************************Responsive Section************************ */

@media (max-width:900px) and (min-width:300px){
    #headings{
        padding: 5% 0% 0% ;
        font-family: 'Great Vibes', cursive;
        color: #142850;
        
    }
    h1{
        font-size: 3rem;
        margin: 3% 0%;
    }
    h3{
        font-size: 1.5rem;
    }
    #headings h4{
        margin-top: 5%;
    }
    .firstImg{
        width: 150px;
        height: 150px;
    }
    .sec2 h3{
        font-size: 2rem;
    }

    p{
        font-size: 1rem;
    }
    .col-default{
        margin: 1% 0%;
        padding: 1%;
    }
    .card p{
        font-size: 1rem;
    }
    .card h2{
        font-size: 1.2rem;
    }
    .button2{
        font-size: 1rem;
    }
    
    
}
